{% extends 'user_profile.html' %}
{% load static %}

{% block dane %}
    <section id="content">
        <header>
            <h2>Zmiana hasła</h2>
            <a href="{% url 'TransitGoLogged'%}">Powrót</a>
        </header>
        <section id="change_pass">
            <div><span class="material-symbols-outlined" style = "font-size: 140px; color: #5264AE; margin-bottom: 20px;">account_circle</span></div>
            <form id="form_ch_pass" method="POST">
                {% csrf_token %}

                <div class="group_change">
                    <input type="password" name="old_password" required>
				    <span class="highlight"></span>
				    <span class="bar"></span>
					<label>Stare hasło</label>
                </div>
                <div class="group_change">
				    <input type="password" name="new_password1" required>
				    <span class="highlight"></span>
				    <span class="bar"></span>
					<label>Nowe hasło</label>
				</div>
                <div class="group_change">
				    <input type="password" name="new_password2" required>
				    <span class="highlight"></span>
				    <span class="bar"></span>
					<label>Powtórz hasło</label>
				</div>
				<div class="group_change">
				    <button type="submit">Zmień hasło</button>
				</div>
            </form>
        </section>
    </section>
{% endblock %}