{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title> TransitGo </title>

    <meta name="description" content=""/>
	<meta name="keywords" content=""/>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1"/>

    <link rel="stylesheet" href="{% static 'css/regi_style.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/media.css' %}"/>
</head>
<body>
    <main>
		<div class = "pojemnik_reg">
			<a href="{% url 'base' %}" class = "Back_link"><img src="{% static 'images/Napis.png' %}" id="logo_reg"/></a>
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}

                <div class="group">
                    <div class="form-field">
                        <select id="role" name="role">
                          <option value="client">Klient</option>
                          <option value="driver">Kierowca</option>
                        </select>
                    </div>
                </div>


                <div class="group">
                    <input type="text" id="first_name" name="first_name" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Imię: </label>
                </div>

                <div class="group">
                    <input type="text" id="last_name" name="last_name" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Nazwisko: </label>
                </div>

                <div class="group">
                    <input type="text" id="phone_number" name="phone_number" required>
                    <span class="highlight"></span>
                    <span class="bar_tel"></span>
                    <label>Numer telefonu: </label>
                </div>


                <div class="group">
                    <input type="email" id="e_mail" name="e_mail" required>
                    <span class="highlight"></span>
                    <span class="bar_tel"></span>
                    <label>Email: </label>
                </div>

                <div class="group">
                    <input type="text" id="username" name="username" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Nazwa użytkownika: </label>
                </div>

                <div class="group">
                    <input type="text" id="home_address" name="home_address" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Adres: </label>
                </div>


                <div class="group">
                    <input type="password" id="password" name="password" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Hasło: </label>
                </div>



                <button type="submit">Zarejestruj się</button>
            </form>
		</div>
	</main>
</body>
</html>
