{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title> TransitGo </title>

  	<meta name="description" content=""/>
	<meta name="keywords" content=""/>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1"/>

	<link rel="stylesheet" href="{% static 'css/log_style.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/remind_style.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/media.css' %}"/>
</head>
<body>
	<main>
		{% block remind%}
		<div class = "pojemnik">
			<img src = "{% static 'images/TransitGo.png' %}" alt = "TransitGo" width = "250px" height = "250px" id = "logo"/>
			<form id = "Form_rem">
                <div class="group">
				    <input type="password" required>
				    <span class="highlight"></span>
				    <span class="bar"></span>
					<label>Nowe hasło</label>
				</div>

                <div class="group">
				    <input type="password" required>
				    <span class="highlight"></span>
				    <span class="bar"></span>
					<label>Powtórz hasło</label>
				</div>

				<div class="group">
				    <button type = "submit"> Resetuj hasło </button>
				</div>
			</form>
		</div>
		{% endblock %}
	</main>
</body>
</html>