{% extends 'user_profile.html' %}
{% load static %}

{% block dane %}
{% block dla_histori%}
    <section id="content">
        <header>
            <h2>Historia przejazdów</h2>
            <a href="{% url 'TransitGoLogged'%}">Powrót</a>
        </header>
        <article id="trip_content">
            <section id="trip_heading">
                <h2>Moje przejazdy:</h2>
            </section>
            <section id="info_content">
                <div id="XD">
                    <div class="trip_info">
                        <div class="JD_L">Przystanek początkowy</div>
                        <div class="JD_L">Przystanek końcowy</div>
                        <div class="JD_C">Cena</div>
                        <a href="" class="JD_P">Zamów ponownie</a>
                    </div>
                    <div class="trip_info">
                        <div class="JD_L">Przystanek początkowy</div>
                        <div class="JD_L">Przystanek końcowy</div>
                        <div class="JD_C">Cena</div>
                        <a href="" class="JD_P">Zamów ponownie</a>
                    </div>
                    <div class="trip_info">
                        <div class="JD_L">Przystanek początkowy</div>
                        <div class="JD_L">Przystanek końcowy</div>
                        <div class="JD_C">Cena</div>
                        <a href="" class="JD_P">Zamów ponownie</a>
                    </div>
                    <div class="trip_info">
                        <div class="JD_L">Przystanek początkowy</div>
                        <div class="JD_L">Przystanek końcowy</div>
                        <div class="JD_C">Cena</div>
                        <a href="" class="JD_P">Zamów ponownie</a>
                    </div>
                    <div class="trip_info">
                        <div class="JD_L">Przystanek początkowy</div>
                        <div class="JD_L">Przystanek końcowy</div>
                        <div class="JD_C">Cena</div>
                        <a href="" class="JD_P">Zamów ponownie</a>
                    </div>
                    <div class="trip_info">
                        <div class="JD_L">Przystanek początkowy</div>
                        <div class="JD_L">Przystanek końcowy</div>
                        <div class="JD_C">Cena</div>
                        <a href="" class="JD_P">Zamów ponownie</a>
                    </div>
                    <div class="trip_info">
                        <div class="JD_L">Przystanek początkowy</div>
                        <div class="JD_L">Przystanek końcowy</div>
                        <div class="JD_C">Cena</div>
                        <a href="" class="JD_P">Zamów ponownie</a>
                    </div>
                    <div class="trip_info">
                        <div class="JD_L">Przystanek początkowy</div>
                        <div class="JD_L">Przystanek końcowy</div>
                        <div class="JD_C">Cena</div>
                        <a href="" class="JD_P">Zamów ponownie</a>
                    </div>
                    <div class="trip_info">
                        <div class="JD_L">Przystanek początkowy</div>
                        <div class="JD_L">Przystanek końcowy</div>
                        <div class="JD_C">Cena</div>
                        <a href="" class="JD_P">Zamów ponownie</a>
                    </div>
                    <div class="trip_info">
                        <div class="JD_L">Przystanek początkowy</div>
                        <div class="JD_L">Przystanek końcowy</div>
                        <div class="JD_C">Cena</div>
                        <a href="" class="JD_P">Zamów ponownie</a>
                    </div>
                    <div class="trip_info">
                        <div class="JD_L">Przystanek początkowy</div>
                        <div class="JD_L">Przystanek końcowy</div>
                        <div class="JD_C">Cena</div>
                        <a href="" class="JD_P">Zamów ponownie</a>
                    </div>
                    <div class="trip_info">
                        <div class="JD_L">Przystanek początkowy</div>
                        <div class="JD_L">Przystanek końcowy</div>
                        <div class="JD_C">Cena</div>
                        <a href="" class="JD_P">Zamów ponownie</a>
                    </div>
                    <div class="trip_info">
                        <div class="JD_L">Przystanek początkowy</div>
                        <div class="JD_L">Przystanek końcowy</div>
                        <div class="JD_C">Cena</div>
                        <a href="" class="JD_P">Zamów ponownie</a>
                    </div>
                <div style="padding-top: 10px"></div>
                </div>
            </section>
        </article>
    </section>
{% endblock %}
{% endblock %}